<a class="waves-effect waves-light btn right" routerLink ="../new-issue">New Issue</a>
<div>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with filter icon">
            <mat-icon>filter_list</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>sort</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar>    
</div>

<div class="row">
    <div class="col s12 m4" *ngFor="let issue of issues">
      <div class="card blue-grey darken-1">
        <app-issue-card [issue]="issue"></app-issue-card>
      </div>
    </div>
</div>
