<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Create Project</h2>
    <div *ngIf="response" class="response">{{ response }}</div>
    <div class="row">
        <div class="input-field col s12">
            <p><label for="title">Title*</label></p>
            <input id="title" type="text" formControlName="title">
            <div *ngIf="form.get('title').touched && form.get('title').invalid" class="helper-text">
                <small *ngIf="form.get('title').errors.required">Enter title</small>
                <small *ngIf="form.get('title').errors.email">
                    Title must be at least {{form.get('title').errors.minlength.requiredLength}} characters.
                    Now he has {{form.get('title').errors.minlength.actualLength}} characters.
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <p><label for="key">Key*</label></p>
            <input id="key" type="text" formControlName="key">
            <div *ngIf="form.get('key').touched && form.get('key').invalid" class="helper-text">
                <small *ngIf="form.get('key').errors.required">Enter key</small>
                <small *ngIf="form.get('key').errors.email">
                    Key must be at least {{form.get('key').errors.minlength.requiredLength}} characters.
                    Now he has {{form.get('key').errors.minlength.actualLength}} characters.
                </small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <p><label for="type">Type</label></p>
            <select name="type" id="type" formControlName="type" >
                <option value="Software">Software</option>
                <option value="Business">Business</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <p><label for="type">Category</label></p>
            <select name="category" id="category" formControlName="category" >
                <option value="BSS - Digital Platform">BSS - Digital Platform</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <p><label for="url">URL</label></p>
            <input id="url" type="text" formControlName="url">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <p><label for="lead">Lead</label></p>
            <select name="lead" id="lead" formControlName="lead" >
                <option *ngFor="let item of users$ | async as users" [value]="item.uid">{{ item.displayName }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <p><label for="description">Description</label></p>
            <quill-editor formControlName="description"></quill-editor>
        </div>
    </div>
    <div class="row">
        <button class="waves-effect waves-light btn" type="submit" [disabled]="form.invalid || submitted">
            Create
        </button>
    </div>
</form>