<div><a class="waves-effect waves-light btn right" routerLink ="../new-project">New</a></div>
<div>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with filter icon">
        <mat-icon>filter_list</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>sort</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>search</mat-icon>
    </button>
    </mat-toolbar>    
</div>


<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" *ngFor="let item of items$ | async as items">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{ item.title }}</b>
        </mat-panel-title>
        <mat-panel-description>
            {{ item.key }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><b>Start Date</b> {{ item.created_date | date }}</p>
      <p><b>Project Lead</b> {{ getUserName(item.lead) }}</p>
      <p><b>Project type</b> {{ item.type }}</p>
      <p [innerHtml]="item.description"></p>
      <div class="btns">
        <a [routerLink]="['/project', item.id]">See issues</a>
        <a href="#" class="btns_red" (click)="removeItem($event, item.id)">Delete</a>
      </div>
    </mat-expansion-panel>
</mat-accordion>